<img src='http://made4two-app.herokuapp.com/assets/logo-bc70d69b04295461b3f2c76777bf2e01.png'>
<p><%= I18n.t("devise.mailer.invitation_instructions.hello", email: @resource.email) %></p>

<p><%= I18n.t("devise.mailer.invitation_instructions.someone_invited_you", url: root_url) %></p>

<p><%= link_to I18n.t("devise.mailer.invitation_instructions.accept"), accept_invitation_url(@resource, :invitation_token => @token) %></p>

<p><%= I18n.t("devise.mailer.invitation_instructions.ignore").html_safe %></p>
